body { margin:0;}

canvas{
	width: 100%;
	height: 560px;
	background-color: gray;
}

#proyecto{
	width:100%;background-color:#353535;color:white
}

.descripcion{
	padding-top:10px;
	padding-left:50px;
	padding-bottom:5px;
	font-size:20px
}

.autores{
	padding-left:50px;
	padding-bottom:5px;
	font-size:16px
}

.proyectoDesc{
	font-size:12px;
	padding-left:50px;
	padding-bottom:5px;
}